In [5]:
import numpy as np
import pandas as pd
import matplotlib as mplb
import seaborn as sns

In [ ]:
import datetime

In [6]:
data ={
  "expenses": [
    {
      "id": 4,
      "user_id": 1,
      "title": "новый заголовок",
      "description": "string",
      "value": 2147483647,
      "category": "rent",
      "created_at": "2025-08-11T07:45:13.356675Z",
      "updated_at": "2025-08-11T07:51:20.372128Z"
    },
    {
      "id": 5,
      "user_id": 1,
      "title": "string",
      "description": "string",
      "value": 2147483647,
      "category": "rent",
      "created_at": "2025-08-11T07:45:16.245657Z",
      "updated_at": "2025-08-11T07:45:16.245709Z"
    },
    {
      "id": 6,
      "user_id": 1,
      "title": "string",
      "description": "string",
      "value": 2147483647,
      "category": "rent",
      "created_at": "2025-08-11T07:45:18.249594Z",
      "updated_at": "2025-08-11T07:45:18.249619Z"
    },
    {
      "id": 7,
      "user_id": 1,
      "title": "string",
      "description": "string",
      "value": 2147483647,
      "category": "rent",
      "created_at": "2025-08-11T07:45:20.492678Z",
      "updated_at": "2025-08-11T07:45:20.492723Z"
    },
    {
      "id": 8,
      "user_id": 1,
      "title": "string",
      "description": "string",
      "value": 2147483647,
      "category": "rent",
      "created_at": "2025-08-11T07:45:22.412304Z",
      "updated_at": "2025-08-11T07:45:22.412348Z"
    },
    {
      "id": 9,
      "user_id": 1,
      "title": "string",
      "description": "string",
      "value": 2147483647,
      "category": "rent",
      "created_at": "2025-08-11T07:46:03.603940Z",
      "updated_at": "2025-08-11T07:46:03.603958Z"
    },
    {
      "id": 10,
      "user_id": 1,
      "title": "string",
      "description": "string",
      "value": 2147483647,
      "category": "rent",
      "created_at": "2025-08-11T07:51:53.328429Z",
      "updated_at": "2025-08-11T07:51:53.328474Z"
    }
  ],
  "incomes": [
    {
      "id": 2,
      "user_id": 1,
      "title": "string",
      "description": "string",
      "value": 2147483647,
      "category": "other",
      "created_at": "2025-08-11T07:54:45.062138Z",
      "updated_at": "2025-08-11T07:54:45.062179Z"
    },
    {
      "id": 3,
      "user_id": 1,
      "title": "string",
      "description": "string",
      "value": 2147483647,
      "category": "other",
      "created_at": "2025-08-11T07:54:47.362075Z",
      "updated_at": "2025-08-11T07:54:47.362115Z"
    }
  ]
}

In [7]:
expenses = data["expenses"]
incomes = data["incomes"]

In [ ]:
expenses_df = pd.DataFrame(expenses)
incomes_df = pd.DataFrame(incomes)

In [9]:
expenses_df.head()

,id,user_id,title,description,value,category,created_at,updated_at
0,4,1,новый заголовок,string,2147483647,rent,2025-08-11T07:45:13.356675Z,2025-08-11T07:51:20.372128Z
1,5,1,string,string,2147483647,rent,2025-08-11T07:45:16.245657Z,2025-08-11T07:45:16.245709Z
2,6,1,string,string,2147483647,rent,2025-08-11T07:45:18.249594Z,2025-08-11T07:45:18.249619Z
3,7,1,string,string,2147483647,rent,2025-08-11T07:45:20.492678Z,2025-08-11T07:45:20.492723Z
4,8,1,string,string,2147483647,rent,2025-08-11T07:45:22.412304Z,2025-08-11T07:45:22.412348Z

In [10]:
incomes_df.head()

,id,user_id,title,description,value,category,created_at,updated_at
0,2,1,string,string,2147483647,other,2025-08-11T07:54:45.062138Z,2025-08-11T07:54:45.062179Z
1,3,1,string,string,2147483647,other,2025-08-11T07:54:47.362075Z,2025-08-11T07:54:47.362115Z

In [ ]:
today = pd.Timestamp.now()
one_year_ago = today - pd.DateOffset(years=1)
one_month_ago = today - pd.DateOffset(months=1)
last_year_expenses = expenses_df[expenses_df.created_at > one_year_ago]
last_year_incomes = incomes_df[incomes_df.created_at > one_year_ago]
last_month_expenses = expenses_df[expenses_df.created_at > one_month_ago]
last_month_incomes = incomes_df[incomes_df.created_at > one_month_ago]
all_incomes = incomes_df
all_expenses = expenses_df
total_month_incomes
total_month_expenses
last_mont_profit
last_year_profit

SyntaxError: invalid syntax (1966900666.py, line 2)